@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }
}

@layer components {}